{% extends 'base.html.twig' %}

{% form_theme chapeauForm  'bootstrap_5_layout.html.twig' %}

{% block body %}
<h3>Edit chapeau</h3>
    {{ form_start(chapeauForm) }}
    {{ form_label(chapeauForm.name) }}
    {{ form_widget(chapeauForm.name) }}
    {{ form_label(chapeauForm.price) }}
    {{ form_widget(chapeauForm.price) }}
    <button type="submit">edit</button>
    {{ form_end(chapeauForm) }}
{% endblock %}